<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../icons/fw/fontawesome-free-6.2.1-web/css/all.min.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/diy101.css">
</head>
<body>
     
    
    <section id="contact" class="flex-c">
        <div class="contact flex-c clay1">
            <div class="contact-divisor">

                    
                <div class="contact-heading">
                        <h1>Contact us</h1>
                    <p>You can reach us on any one of the platforms you are comfortable with</p>
                </div>

                <div class="contact-tel-email">
                        <span class="contact-tel"><i class="fa fa-phone"></i>0812398427</span>

                        <span class="contact-tel"><i class="fa fa-phone"></i>0812398427</span>  

                        <span class="contact-tel"><i class="fa fa-phone"></i>0812398427</span>
                        
                        <span class="contact-email"><i class="fa fa-envelope" aria-hidden="true"></i>diy101@diy101.com</span>      
                </div>
                    
                <div class="contact-offices">
                        <div class="office hqt">headqaurters</div>
                        <div class="office">office</div>
                        <div class="office">office</div>
                    <div class="nearest-office">locat/Navigate to our nearest office</div>
                </div>
                <div class="contact-social flex">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                    <i class="fab fa-whatsapp" aria-hidden="true"></i>
                    <i class="fab fa-facebook" aria-hidden="true"></i>
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                    
                </div>
                
            </div>
                
            <div class="contact-form">
                    <form action="">
                        <legend>Contact form</legend>
                        <input type="text" name="name" placeholder="Full name">
                        <input type="text" name="organization" placeholder="Organization">
                        <input type="email" name="email" placeholder="Email or mobile number">
                        <input type="text" name="subject" placeholder="Subject">
                        <textarea name="message" cols="30" rows="8" placeholder="Write out your message" required></textarea>
                        <input type="submit" value="submit"
                        name="submit" placeholder="send" id="submit">
                    </form>
                
            </div>

            
            

        </div>
    </section>
    
</body>
<script src="../js/diy101.js"></script>
</html>