<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sytdadclub</title>
    <link rel="stylesheet" href="../css/systdad.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list flex">
                <li><a href="#" class="navlink">Home</a></li>
                <li><a href="#" class="navlink">Projects</a></li>
                <li><a href="#" class="navlink">Events</a></li>
                <li><a href="#" class="navlink">Feed</a></li>
                <li><a href="#" class="navlink">Forum</a></li>
                <li><a href="#" class="navlink">Contact</a></li>
                <li><a href="#" class="navlink">About</a></li>

            </ul>
        </nav>

        <div class="call-to-action">
            <div class="join-us">
                Lets create together a Profesional Work(Career) Experiences in solving Problems from different Domains using a fast structured and standard Approach to Software, Hardware, Embedded and IOT Systems Design and Development ....(and Implementation)...
            </div>

            <button class="join-us-btn">JOIN US NOW</button>

        </div>

        
       

    </header>

   
    <main>
        <div class="content-card">I am a content card, Design me well. I am displaying content in a card
        </div>
        
        <div class="content-card">I am a content card, Design me well. I am displaying content in a card
        </div>

        <div class="content-card">I am a content card, Design me well. I am displaying content in a card
        </div>

        <div class="content-card">I am a content card, Design me well. I am displaying content in a card
        </div>

        <div class="content-card">I am a content card, Design me well. I am displaying content in a card
        </div>

        <div class="content-card">I am a content card, Design me well. I am displaying content in a card
        </div>

        <div class="content-card">I am a content card, Design me well. I am displaying content in a card
        </div>

        <div class="content-card">I am a content card, Design me well. I am displaying content in a card
        </div>

        <div class="content-card">I am a content card, Design me well. I am displaying content in a card
        </div>

        <div class="content-card">I am a content card, Design me well. I am displaying content in a card
        </div>

        <div class="content-card">I am a content card, Design me well. I am displaying content in a card
        </div>
    </main>


    <footer></footer>

    
</body>
</html>