<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../icons/fw/fontawesome-free-6.2.1-web/css/all.min.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/diy101.css">
</head>
<body>

    <section id="product">
        <div class="products flex glass1" >

            <div class="product flex clay2 ">

                <div class="product-img"><img src="../images/i6.png" alt=""></div>

                <div class="product-title">Frozen yolk Fried Egg</div>


                <div class="product-price">Price:$10</div>

                <div class="product-review">
                    <div class="product-rating">Rating:
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i>
                    </div>
                    
                </div>

                <div class="product-add-to-cart">
                    <button><i class="fa fa-cart-plus"></i></button>
                </div>

                <div class="product-details">
                    <a href="product-id.html" class="product-details">Product Details
                        <span class="arrow">&#x2304</span></a>
                </div>
            </div>

            <div class="product flex clay2 ">

                <div class="product-img"><img src="../images/i17.png" alt=""></div>

                <div class="product-title">Frozen yolk Fried Egg</div>


                <div class="product-price">Price:$10</div>

                <div class="product-review">
                    <div class="product-rating">Rating:
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i>
                    </div>
                    
                </div>

                <div class="product-add-to-cart">
                    <button><i class="fa fa-cart-plus"></i></button>
                </div>

                <div class="product-details">
                    <a href="product-id.html" class="product-details">Product Details
                        <span class="arrow">&#x2304</span></a>
                </div>
            </div>

            <div class="product flex clay2 ">

                <div class="product-img"><img src="../images/i18.png" alt=""></div>

                <div class="product-title">Frozen yolk Fried Egg</div>


                <div class="product-price">Price:$10</div>

                <div class="product-review">
                    <div class="product-rating">Rating:
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i>
                    </div>
                    
                </div>

                <div class="product-add-to-cart">
                    <button><i class="fa fa-cart-plus"></i></button>
                </div>

                <div class="product-details">
                    <a href="product-id.html" class="product-details">Product Details
                        <span class="arrow">&#x2304</span></a>
                </div>
            </div>

            <div class="product flex clay2 ">

                <div class="product-img"><img src="../images/i1.jpg" alt=""></div>

                <div class="product-title">Frozen yolk Fried Egg</div>


                <div class="product-price">Price:$10</div>

                <div class="product-review">
                    <div class="product-rating">Rating:
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i>
                    </div>
                    
                </div>

                <div class="product-add-to-cart">
                    <button><i class="fa fa-cart-plus"></i></button>
                </div>

                <div class="product-details">
                    <a href="product-id.html" class="product-details">Product Details
                        <span class="arrow">&#x2304</span></a>
                </div>
            </div>


            <div class="product flex clay2 ">

                <div class="product-img"><img src="../images/i3.jpg" alt=""></div>

                <div class="product-title">Frozen yolk Fried Egg</div>


                <div class="product-price">Price:$10</div>

                <div class="product-review">
                    <div class="product-rating">Rating:
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i>
                    </div>
                    
                </div>

                <div class="product-add-to-cart">
                    <button><i class="fa fa-cart-plus"></i></button>
                </div>

                <div class="product-details">
                    <a href="product-id.html" class="product-details">Product Details
                        <span class="arrow">&#x2304</span></a>
                </div>
            </div>


            <div class="product flex clay2 ">

                <div class="product-img"><img src="../images/i9.png" alt=""></div>

                <div class="product-title">Frozen yolk Fried Egg</div>


                <div class="product-price">Price:$10</div>

                <div class="product-review">
                    <div class="product-rating">Rating:
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i>
                    </div>
                    
                </div>

                <div class="product-add-to-cart">
                    <button><i class="fa fa-cart-plus"></i></button>
                </div>

                <div class="product-details">
                    <a href="product-id.html" class="product-details">Product Details
                        <span class="arrow">&#x2304</span></a>
                </div>
            </div>


            <div class="product flex clay2 ">

                <div class="product-img"><img src="../images/i11.jpg" alt=""></div>

                <div class="product-title">Frozen yolk Fried Egg</div>


                <div class="product-price">Price:$10</div>

                <div class="product-review">
                    <div class="product-rating">Rating:
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i>
                    </div>
                    
                </div>

                <div class="product-add-to-cart">
                    <button><i class="fa fa-cart-plus"></i></button>
                </div>

                <div class="product-details">
                    <a href="product-id.html" class="product-details">Product Details
                        <span class="arrow">&#x2304</span></a>
                </div>
            </div>


            <div class="product flex clay2 ">

                <div class="product-img"><img src="../images/i3.jpg" alt=""></div>

                <div class="product-title">Frozen yolk Fried Egg</div>


                <div class="product-price">Price:$10</div>

                <div class="product-review">
                    <div class="product-rating">Rating:
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i> 
                    <i class="far fa-star"></i>
                    </div>
                    
                </div>

                <div class="product-add-to-cart">
                    <button><i class="fa fa-cart-plus"></i></button>
                </div>

                <div class="product-details">
                    <a href="product-id.html" class="product-details">Product Details
                        <span class="arrow">&#x2304</span></a>
                </div>
            </div>



        </div>
    </section>
      <script src="../js/diy101.js"></script>
</body>
</html>