<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="../icons/fw/fontawesome-free-6.2.1-web/css/all.min.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/diy101.css">
</head>
<body>
     

    <div class="signup clay1">
       

        <form action="" id="signup-form">
            <legend>
                <h1 class="form-heading">Create new Account</h1>
             </legend>
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="email" placeholder="Email or phone number">
            <input type="password" name="password1" placeholder="Password">
            <input type="password" name="password2" placeholder="Password">
            <input type="text" name="referal-code" placeholder="Referal code">

            <div class="terms-and-policies">
                <p>By clicking Sign up you agree to the terms and policies of Diy101WithGrace</p>
                <a href="terms-and-policies.html" class="terms-and-policies">View terms and Policies</a>
            </div>

            <input type="submit" value="SIGNUP" id="signupbtn">
        </form>
        <div class="already-have-account flex">Already have an Account?
            <a href="login.html" class="loginlink">LOGIN</a>
        </div>


    </div>

     <script src="../js/diy101.js"></script> 
</body>
</html>